<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>CLScore baseline</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Max.</td>
      <td>6.5516305098446965 ± 0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mean.</td>
      <td>1.7321326874961696 ± 0.09209379801703206</td>
    </tr>
  </tbody>
</table>